body
{
    background-color: #F7ECDE;
}
.container
{
    width: 80%;
    margin: auto;
}
.container h1
{
font-size: 50px;
color: #352E28;
text-align: center;
position: relative;
    font-family: "Pacifico", cursive;
}
.container h1::before
{
    content: "";
    position: absolute;
    width: 250px;
    height: 20px;
    background-color: #FEC260;
    bottom: 15px;
    z-index: -1;
    transition: 0.5s ease;
}
.container h1:hover::before
{
    content: "";
    height: 40px;
}
.doteed
{
    border-bottom: 2px dotted #352E28;
}
.container h2
{
    font-family: "Righteous", sans-serif;
    text-align: center;
    margin: 2rem 0;
    background-image: linear-gradient(to right, #00ff00, #008000);
    color: transparent;
    background-clip: text;
}
.container h2 i
{
    margin: 0 .5rem;
}
.inputs input{
    width: 100%;
    height: 30px;
    border-radius: 6px;
    border: 1px solid gray;
}
.inputs input:nth-last-child(2)
{
    margin:.5rem 0;
}
.inputs input:focus{
outline:3px solid #FEC260;
}
.inputs label i
{
    margin:1rem 10px;
}
label{
    font-weight: bold;
    font-size: 18px;
    margin: .5rem 0;
}
.inputs button
{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D1512D;
    border-radius: 6px;
    width: 150px;
    border:none;
    cursor: pointer;
    color: white;
    margin: 1rem auto;
    transition: 0.5s;
}
.inputs button:hover{
    background-color: #BB4120;
}
table {
    width: 100%;
    margin: 2rem 0;
    text-align: center;
    background-color: white;
    padding: .5rem;
    font-weight: bold;
    font-size: 18px;
}

th {
    color: #212529;
    margin: 10px;
}
.btn-visit
{
    margin: 1rem 0;
    cursor: pointer;
    background-color: #22b622;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    text-align: center;
    height: 40px;
    border: none;
    color: white;
    transition: 0.5s;
}
.btn-visit:hover
{
    background-color: #8A9E23;
}
.btn-delete
{
    margin: 1rem 0;
    cursor: pointer;
    background-color: rgb(233, 7, 7);
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    text-align: center;
    height: 40px;
    border: none;
    color: white;
    transition: .5s;
}
.btn-delete:hover{
    background-color: #D30820;
}
.window{
    width: 400px;
    height: 200px;
    background-color: white;
    
}
